<div class="center jumbotron">
  <h1>SecuSim by CalebHK</h1>
  <p>
    This is the home page of SecuSim created by CalebHK.
  </p>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>