<% @news.each do |new| %>
  <li>
    <img class="gravatar" src="/assets/News.jpg" alt="News" height="50" width="50">
    <span class="name"><a href=<%= new[:link] %>><strong><%= new[:title] %></strong></span></a>
    <span class="money"><%= new[:description] %></span>
    <span class="money">Posted <%= time_ago_in_words(new[:pubdate]) %> ago.</span>
  </li>
<% end %>