<ol class="accounts">  
  <%= render @account %>
</ol>
<table class="table table-bordered" style="table-layout: fixed">
  <tr>
    <th>CODE</th>
    <th>Volume (Total/Activated)</th>
    <th>Total Cost</th>
    <th>Avg. Cost</th>
  </tr>
  <%= render @account.inventories %>
</table>